p Hello!

p An account was just created for you by an admin on the #{appName} Project.

p To finish setting up your account, please create a password at the link below.

p.
  Simply <a href='#{link}'>visit this link to request a password reset link.</a>.<br>
  (if the link above does not show, visit #{link} in any browser to request a password reset link.)

p.
  Thank you,<br>
  #{appName} Project,
  support@mi-diaries.org
