p Hello!

p Thanks for registering with the #{appName} Project!

p This email is simply to let you know that your account is now successfully verified, and you can continue to use the site.

p.
  Thank you,<br>
  #{appName} Project,<br>
  #{signatureEmail}
